In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
train=pd.read_csv("/content/Real estate.csv")
train.head()

,No,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude,Y_house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1

In [ ]:
x=train.drop(columns='Y_house price of unit area')
y=train['Y_house price of unit area']
x.head()

,No,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude
0,1,32.0,84.87882,10,24.98298,121.54024
1,2,19.5,306.59470,9,24.98034,121.53951
2,3,13.3,561.98450,5,24.98746,121.54391
3,4,13.3,561.98450,5,24.98746,121.54391
4,5,5.0,390.56840,5,24.97937,121.54245

In [ ]:
y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y_house price of unit area, dtype: float64

In [ ]:
model=LinearRegression()

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [ ]:
model.fit(x,y)

LinearRegression()

In [ ]:
y_predict=model.predict(X_test)

In [ ]:
print(r2_score(Y_test,y_predict))

0.7809000098150227

In [ ]:
x.describe()

,No,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,17.712560,1083.885689,4.094203,24.969030,121.533361
std,119.655756,11.392485,1262.109595,2.945562,0.012410,0.015347
min,1.000000,0.000000,23.382840,0.000000,24.932070,121.473530
25%,104.250000,9.025000,289.324800,1.000000,24.963000,121.528085
50%,207.500000,16.100000,492.231300,4.000000,24.971100,121.538630
75%,310.750000,28.150000,1454.279000,6.000000,24.977455,121.543305
max,414.000000,43.800000,6488.021000,10.000000,25.014590,121.566270

In [ ]:
print(x.shape)

(414, 6)

In [ ]:
x['No']=x['No']/414
x['X2_house age']=x['X2_house age']/43.8
x['X3_distance to the nearest MRT station']=x['X3_distance to the nearest MRT station']/6488.021
x['X4_number of convenience stores']=x['X4_number of convenience stores']/10
x['X5_latitude']=x['X5_latitude']/25.01459
x['X6_longitude']=x['X6_longitude']/121.556270

In [ ]:
x.head()

,No,X2_house age,X3_distance to the nearest MRT station,X4_number of convenience stores,X5_latitude,X6_longitude,X3_distance to the nearest MRT stationo
0,4.797308e-19,4.532161e-09,0.013082,0.010,0.039926,0.008226,0.013082
1,9.594616e-19,2.761786e-09,0.047256,0.009,0.039922,0.008226,0.047256
2,1.439192e-18,1.883679e-09,0.086619,0.005,0.039933,0.008226,0.086619
3,1.918923e-18,1.883679e-09,0.086619,0.005,0.039933,0.008226,0.086619
4,2.398654e-18,7.081501e-10,0.060198,0.005,0.039920,0.008226,0.060198

In [ ]:
y_predict2=model.predict(X_test)

In [ ]:
print(r2_score(Y_test,y_predict2))

0.7809000098150227